<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key = "DBConnection" value = "data source=DOMOKING\INTACT;initial catalog=TestResults;trusted_connection=true"/>
        <add key = "FileLocation" value = "\\infod-filesvr\collaboration\QA Documents\Testing Automation\TestResultFiles\"/>
        <add key = "Vstest.exe" value = "\\infod-filesvr\collaboration\QA Documents\Testing Automation\Tools\tools\net451\Common7\IDE\Extensions\TestPlatform"/>
        <add key = "TestLocation" value = "C:\Users\i00018\source\repos\ClassLibrary1\AutomationUnitTests\bin\Debug\AutomationUnitTests.dll"/>
        <!--Below are the Tests that will be executed for a test name: Syntax requires no spaces and seperate each test case by a comma-->
        <add key = "Basic Test" value = "_Login,CreateADocument"/>
        <add key = "Advanced Test" value = "CreateADocument,InZone,BatchReview"/>
        <add key = "Full Test" value = "InZone,BatchReview,Search,CreateMultipleDocuments,Recognize"/>
        <add key = "Four Part Test" value = "InZone,BatchReview,Search,Recognize"/>
        <add key = "Regression Test" value = "InZone,BatchReview,Search,Recognize,CreateMultipleDocuments,CreateDefinition,CreateType,_Login,Logout"/>
    </appSettings>
</configuration>