@*example*@
@page "/"
<head>
 <style type ="text/css" >
   .footer{ 
       position: fixed;     
       text-align: left;    
       bottom: 0px; 
       width: 80%;
   }
</style>
</head>
<h1>Hello, welcome to the testing dashboard</h1>
<body>
    <div class="footer"><SurveyPrompt Title="How is Blazor working for you?" /></div>
</body>
